<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger{0}:%L 
                If you required class name ,enable %logger{0}:%L -->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %c{1} %-5level - %msg %ex{full} %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC-STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000000</queueSize>
        <discardingThreshold>20</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT"/>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/analytics.log</file>
        <append>true</append>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- hourly rollover -->
            <fileNamePattern>logs/analytics.log.%d{yyyy-MM-dd_HH}</fileNamePattern>
            <!-- keep 10 days' worth of history -->
            <maxHistory>240</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.harman.haa" level="info"
            additivity="false">
        <appender-ref ref="ASYNC-STDOUT"/>
    </logger>

    <logger name="org.eclipse.ecsp.analytics" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC-STDOUT"/>
    </logger>

    <logger name="com.codahale.metrics" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC-STDOUT"/>
    </logger>

    <logger name="org.mongodb" level="WARN" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC-STDOUT"/>
    </logger>

    <logger name="org.apache.kafka" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC-STDOUT"/>
    </logger>

    <logger name="org.testcontainers" level="INFO"/>

    <root level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="ASYNC-STDOUT"/>
    </root>

</configuration>